* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #416378;
}

#mainContent {
  margin: 0 auto;
  text-align: center;
}

header {
  text-align: center;
  padding: 15px;
  width: 100%;
  margin: 0;
  background-color: #b3fde7;
  color: #416378;
  font-size: 1.5em;
}

#headerDiv {
  margin: 50px 0 25px 0;
  color: #b3fde7;
}

#headerDiv > h2 {
  font-size: 1.75em;
  margin-bottom: 10px;
  font-weight: 400;
}

#headerDiv > h3 {
  margin-top: 0;
  font-size: 1.25em;
  color: #a3e6d2;
  font-weight: 200;
  font-style: italic;
}

hr {
  border-color: #b3fde7;
  width: 25%;
}

#conversationCard {
  text-align: center;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 75px;
  background-color: #b3fde7;
  padding: 100px;
  width: 90%;
  color: #416378;
  border-radius: 10px;
}

button {
  margin-bottom: 50px;
  padding: 25px;
  border-radius: 5px;
  background: none;
  border: solid 3px #b3fde7;
  color: #b3fde7;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background: #b3fde7;
  color: #416378;
}

@media (min-width: 768px) {
  #conversationCard {
    width: 50%;
  }
}
